<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>物业管理系统</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />

    <link th:href="@{/css/jquery.mmenu.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/add_style.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-directional-buttons.css}" rel="stylesheet" />
</head>
<body>

<!-- Header-->
<div th:replace="menu/header::header"></div>

<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="menu/sidebar::sidebar"></div>

        <!-- Main Page -->
        <div class="main ">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol  id="headPath" class="breadcrumb visible-sm visible-md visible-lg">
                        <li><a href="index.html"><i class="icon fa fa-home"></i>主页</a></li>
                        <li class="active"><i class="fa fa-copy"></i>信息备份</li>
                        <li class="active"><i class="fa fa-anchor"></i>信息导出</li>
                    </ol>
                </div>
                <div class="pull-right">
                    <h2 id="rightContent">信息导出</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="backup-container">
                <div class="backup-head">
                    <ul>
                        <li class="backup-1"><button class="btn btn-info btn-arrow-right" onclick="doAs(1)">第一步</button></li>
                        <li class="backup-2"><button class="btn btn-info btn-arrow-right" onclick="doAs(2)">第二步</button></li>
                        <li class="backup-3"><button class="btn btn-info btn-arrow-right" onclick="doAs(3)">第三步</button></li>
                    </ul>
                </div>
                <div class="backup-content">
                    <div class="backup-1">
                        <span>请选择导出的信息： </span>
                        <ul>
                            <li onclick="sfields('employee')">员工信息</li>
                            <li onclick="sfields('customer')">客户信息</li>
                            <li onclick="sfields('device')">设备信息</li>
                            <li onclick="sfields('house')">房屋信息</li>
                            <li onclick="sfields('carbarn')">车库信息</li>
                            <li onclick="sfields('charge')">费用信息</li>
                            <li onclick="sfields('complain')">投诉信息</li>
                        </ul>
                    </div>
                    <div class="backup-2" hidden="true">
                        <div>
                            <span>导出字段：</span>
                            <table class="table table-bordered table-striped" style="clear: both">
                                <tbody id="fields-table-body">
                                    <tr>
                                        <td width="50%"><input type="checkbox" value="option1"/> field</td>
                                        <td><input type="checkbox" value="option1"/> field</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="backup-3"  hidden="true">
                        第三步
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Page -->

    </div>
</div>

<div class="clearfix"></div>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jQuery.mmenu/4.3.1/js/jquery.mmenu.min.js"></script>
<script th:src="@{/js/core.min.js}"></script>
<script th:src="@{/js/pages/index.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var fields = [[${fields}]];;
    function doAs(index){
        var target = $(".backup-" + index);
        if(target.is(":hidden"))
            return;
        var indexStr;
        for(var i = 1; i <= 3; i++){
            indexStr = ".backup-" + i;
            $(indexStr).css("width", "20%");
        }
        target.css("width", "30%");
    }
    function sfields(name){
        var tmp = fields[name];
        var htmlStr = "";
        for(var i = 0; i < tmp.length; i++){
            htmlStr += "<tr><td width=\"50%\"><input type=\"checkbox\" value=\"" + tmp[i++][1] + "\"/>  " + tmp[i++][1];
            if(i>= tmp.length){
                htmlStr +="</td></tr>";
                break;
            }
            htmlStr += "</td><td><input type=\"checkbox\" value=\"\" + tmp[i++][1] + \"\"/>  " + tmp[i][1] + "</td></tr>";
        }
        $(".backup-2").removeAttr("hidden");
        doAs(2);
        $("#fields-table-body").html(htmlStr);
    }

    $(document).ready(function(){
        $(".backup-1").css("width", "30%");
        // console.log(fields["carbarn"]);
    });
    /*]]>*/
</script>
</body>
</html>