<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>物业管理系统</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />

    <link th:href="@{/css/jquery.mmenu.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/add_style.css}" rel="stylesheet" />
</head>
<body>

<!-- Header-->
<div th:replace="menu/header::header"></div>

<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="menu/sidebar::sidebar"></div>

        <!-- Main Page -->
        <div class="main ">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol  id="headPath" class="breadcrumb visible-sm visible-md visible-lg">
                        <li><a href="index.html"><i class="icon fa fa-home"></i>主页</a></li>
                        <li class="active"><i class="fa fa-database"></i>基础数据</li>
                        <li class="active"><i class="fa fa-anchor"></i>租房管理</li>
                    </ol>
                </div>
                <div class="pull-right">
                    <h2 id="rightContent">租房管理</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <div id="wrapper">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav-pills nav-stacked" id="mymenu">
                        <div class="top-nav">
                            <h3 class="cate">楼盘</h3>
                        </div>
                        <li class="active sidwbar-community" th:each="community : ${communities}">
                            <a href="#" class="mymenu-community">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-bars fa-stack-1x "></i></span>
                                <p th:text="${community}"></p>
                            </a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li><a href="#">xxx小区1号楼</a></li>
                                <li><a href="#">xxx小区2号楼</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default bk-bg-white">
                            <div class="panel-heading bk-bg-white">
                                <h6 style="font-size: 18px">
                                    <i class="fa fa-table red"></i>
                                    <span class="break"></span>房屋信息图表
                                </h6>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed table-hover" id="house-state-table">
                                        <div class="row clearfix">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <i class="fa fa-location-arrow"></i>
                                                <span class="myState" id="house-title">位置</span>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="myState" style="background-color: #F17060">待租</span>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="myState" style="background-color: #EEC591">租用中</span>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="myState" style="background-color: #14C1d7">在建</span>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="myState" style="background-color: #7A67BB">欠费</span>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <span class="myState" style="background-color: #b1dd94">其他</span>
                                            </div>
                                        </div><br/>
                                        <thead>
                                        <tr class="house-state-head">
                                            <th>单元</th>
                                            <th colspan="3">一单元</th>
                                            <th colspan="3">二单元</th>
                                            <th colspan="3">三单元</th>
                                        </tr>
                                        </thead>
                                        <tbody class="house-data-table-body">
                                            <tr class="house-state-data">
                                                <td>1层</td>
                                                <td><a href="#">1-1</a></td>
                                                <td><a href="#">1-2</a></td>
                                                <td><a href="#">1-3</a></td>
                                                <td><a href="#">2-1</a></td>
                                                <td><a href="#">2-2</a></td>
                                                <td><a href="#">2-3</a></td>
                                                <td><a href="#">3-1</a></td>
                                                <td><a href="#">3-2</a></td>
                                                <td><a href="#">3-3</a></td>
                                            </tr>
                                            <tr class="house-state-data">
                                                <td class="house-floor">2层</td>
                                                <td><a href="#">1-1</a></td>
                                                <td><a href="#">1-2</a></td>
                                                <td><a href="#">1-3</a></td>
                                                <td><a href="#">2-1</a></td>
                                                <td><a href="#">2-2</a></td>
                                                <td><a href="#">2-3</a></td>
                                                <td><a href="#">3-1</a></td>
                                                <td><a href="#">3-2</a></td>
                                                <td><a href="#">3-3</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Page -->
    </div>
</div>

<div class="clearfix"></div>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jQuery.mmenu/4.3.1/js/jquery.mmenu.min.js"></script>
<script th:src="@{/js/core.min.js}"></script>
<script th:src="@{/js/pages/index.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        initMenu();
    });

    function initMenu() {
        $('#mymenu ul').hide();
        $('#mymenu ul').children('.current').parent().show();
        // $('#mymenu ul:first').show();
        $('#mymenu li a').click(function() {

                var checkElement = $(this).next();

                if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                    checkElement.slideUp('normal');
                    return false;
                }
                if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                    $('#mymenu ul:visible').slideUp('normal');
                    get_building(this);
                    checkElement.slideDown('normal');
                    return false;
                }
        });
    }

    function get_building(element) {
        var value = $(element).children("p").html();
        $.ajax({
            url: [[@{/api/house/building}]],
            type:'post',
            data:{'community': value},
            dataType: 'JSON',
            success:function(data){
                var building = "<ul class=\"nav-pills nav-stacked\" style=\"list-style-type:none;\">";
                $.each(data, function(id, number){
                    building += "<li><a onclick=\"get_house('" + value + "', " + number +")\">" + value + number + "号楼</a></li>";
                });
                building += "</ul>";
                $(element).next().replaceWith(building);
            }
        });
    };

    function get_house(community, number) {
        $("#house-title").text(community + number + "号楼");
        $.ajax({
            url : [[@{/api/house/gethousebybuilding}]],
            type: 'post',
            data: {"community": community, "buildingNumber": number},
            dataType: 'JSON',
            success: function (data) {
                var content = "";
                var maxFloor = data.max;
                for (var i = 1; i <= maxFloor; i++){
                    content += "<tr class=\"house-state-data\">"
                    content += "<td>" + i + "层</td>";
                    for(var j = 1; j < 4; j++){
                        for(var k = 1; k < 4; k++){
                            var id = i + "-" + j + "-" + k;
                            content += "<td id=\"" + id + "\"><a href=\"#\" onclick=\"click_house(this)\">" + j + "-" + k + "</a></td>";
                        }
                    }
                    content += "</tr>";
                }
                $(".house-data-table-body").html(content);
                var house = data.house;
                $.each(house, function(id, house){
                    var state = house.state;
                    var id = "#" + house.floorNumber + "-" + parseInt(house.houseNumber / 10) % 10 + "-" + house.houseNumber % 10;
                    switch (state) {
                        case 0 : $(id).css("background-color", "#F17060"); break;
                        case 1 : $(id).css("background-color", "#EEC591"); break;
                        case 2 : $(id).css("background-color", "#14C1d7"); break;
                        case 3 : $(id).css("background-color", "#7A67BB"); break;
                        case 4 : $(id).css("background-color", "#b1dd94"); break;
                        default: break;
                    }
                    // console.log(id);
                });
           }
        });
    }

    function click_house(element) {
        console.log($(element).parent().prop("id"));
    }
    /*]]>*/
</script>
</body>
</html>