<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>物业管理系统</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link th:href="@{/css/jquery.mmenu.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/add_style.css}" rel="stylesheet" />
</head>
<body>

<!-- Header-->
<div th:replace="menu/header::header"></div>

<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="menu/sidebar::sidebar"></div>

        <!-- Main Page -->
        <div class="main ">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol  id="headPath" class="breadcrumb visible-sm visible-md visible-lg">
                        <li><a href="index.html"><i class="icon fa fa-home"></i>主页</a></li>
                        <li class="active"><i class="fa fa-database"></i>基础数据</li>
                        <li class="active"><i class="fa fa-anchor"></i>房源管理</li>
                    </ol>
                </div>
                <div class="pull-right">
                    <h2 id="rightContent">房源管理</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="center-block panel panel-info " style="min-height:520px;width:100%">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        房屋信息列表
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <span class="hcpClass input-group-addon">小区</span>
                                <div class="input-group" style="height:30px;">
                                    <select ID="community" name="community" class="form-control" onchange="community_change(this.value)">
                                        <option value="">请选择</option>
                                        <option th:each="obj : ${communities}" th:value="${obj}" th:text="${obj}">${obj}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <span class="hcpClass input-group-addon">楼号</span>
                                <div class="input-group">
                                    <select ID="building" name="building" class="form-control">
                                        <option value="-999">请选择</option>
                                        <option th:each="building : ${buildings}" th:value="${building}" th:text="${building}">${obj}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <span class="hcpClass input-group-addon">户型</span>
                                <div class="input-group">
                                    <select ID="type" name="type" class="form-control">
                                        <option value="">请选择</option>
                                        <option th:each="type : ${types}" th:value="${type}" th:text="${type}">${obj}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div><br/>
                    <div class="row clearfix">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <span class="input-group-addon">房号</span>
                                <input id="house_number" class="form-control" type="number" />
                                <a id="a_clear" class="glyphicon glyphicon-remove btn form-control-feedback" style="pointer-events: auto"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <span class="input-group-addon">状态</span>
                                <select id="state" name="state" class="form-control">
                                    <option value="0" selected="selected">待租</option>
                                    <option value="1">租用中</option>
                                    <option value="2">在建</option>
                                    <option value="3">欠费</option>
                                    <option value="4">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <button type="button" class="btn btn-primary" onclick="load_data(0)"><i class="fa fa-search"></i>查询</button>
                            </div>
                        </div>
                    </div><hr/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>小区</th>
                            <th>坐落</th>
                            <th>租户</th>
                            <th>户型</th>
                            <th>价位</th>
                            <th>楼层</th>
                            <th>房号</th>
                            <th>状态</th>
                            <th>简介</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="my_tbody">
                            <tr th:each="house : ${datas}">
                                <td class="table-community" th:text="${house.community}">${house.community}</td>
                                <td class="table-buildingNumber" th:text="${house.buildingNumber}">${house.buildingNumber}</td>
                                <td class="table-customerId" th:text="${house.customerId == null} ? '待租' : ${house.introduce}"></td>
                                <td class="table-houseType" th:text="${house.houseType}">${house.houseType}</td>
                                <td class="table-price" th:text="${house.price}">${house.price}</td>
                                <td class="table-floorNumber" th:text="${house.floorNumber}">${house.floorNumber}</td>
                                <td class="table-houseNumber" th:text="${house.houseNumber}">${house.houseNumber}</td>
                                <td class="table-state" value="0" th:if="${house.state}==0">待租</td>
                                <td class="table-state" value="1" th:if="${house.state}==1">租用中</td>
                                <td class="table-state" value="2" th:if="${house.state}==2">在建</td>
                                <td class="table-state" value="3" th:if="${house.state}==3">欠费</td>
                                <td class="table-state" value="4" th:if="${house.state}==4">其他</td>
                                <td class="table-introduce" th:text="${house.introduce == null} ? '此处省略xxx字' : ${house.introduce}">${house.introduce}</td>
                                <td th:id="${house.id}">
                                    <button data-toggle="modal" data-target="#editModal" class="btn btn-primary btn-xs" type="button">
                                        <i class="fa fa-edit"></i> 修改
                                    </button>
                                    <button th:onclick="|delete_house('${house.id}')|" class="btn btn-danger btn-xs" type="button">
                                        <i class="fa fa-trash-o fa-lg"></i> 删除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <div class="row clearfix">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            共<label id="total_count" style="color:#080808" ></label>条记录,当前<label id="current_page" style="color:#080808"></label>页。
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9" align="right">
                            <ul id="page" style="margin: 0 0">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Page -->

    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
                <h4 class="modal-title" id="editModalLabel">修改房屋信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modal-community" class="control-label">小区:</label>
                        <input type="text" class="form-control" id="modal-community" name="community" />
                    </div>
                    <div class="form-group">
                        <label for="modal-houseType" class="control-label">户型:</label>
                        <input type="text" class="form-control" id="modal-houseType" name="houseType" />
                    </div>
                    <div class="form-group building">
                        <div class="col-lg-4">
                            <label for="modal-buildingNumber" class="control-label">楼号:</label>
                            <input type="number" class="form-control" id="modal-buildingNumber" name="buildingNumber" max="50" min="0"/>
                        </div>
                        <div class="col-lg-4">
                            <label for="modal-floorNumber" class="control-label">楼层:</label>
                            <input type="number" class="form-control" id="modal-floorNumber" name="floorNumber" max="50" min="-10"/>
                        </div>
                        <div class="col-lg-4">
                            <label for="modal-houseNumber" class="control-label">住房号:</label>
                            <input type="number" class="form-control" id="modal-houseNumber" name="houseNumber" min="100"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-price" class="control-label">价格:</label>
                        <input type="number" class="form-control" id="modal-price" name="price" max="2000" min="0" step="5" />
                    </div>
                    <div class="form-group">
                        <label for="modal-customerId" class="control-label">租户ID:</label>
                        <input type="number" class="form-control" id="modal-customerId" name="customerId"
                               min="0"/>
                    </div>
                    <div class="form-group">
                        <label for="state" class="control-label">状态:</label>
                        <div id="modal-state">
                            <label class="radio-inline" style="padding-left: 30px;">
                                <input type="radio" name="state" value="1" style="margin-left: -30px" checked="checked" />
                                <span>待租</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="state" value="2" style="margin-left: -30px"/>
                                <span>已被租</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="state" value="3" style="margin-left: -30px"/>
                                <span>在建</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="state" value="4" style="margin-left: -30px"/>
                                <span>欠费</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="state" value="4" style="margin-left: -30px"/>
                                <span>其他</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-introduce" class="control-label">简介:</label>
                        <textarea id="modal-introduce" placeholder="房屋简介"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jQuery.mmenu/4.3.1/js/jquery.mmenu.min.js"></script>
<script th:src="@{/js/bootstrap-paginator.min.js}" type="text/javascript"></script>
<script th:src="@{/js/core.min.js}"></script>
<script th:src="@{/js/pages/index.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        $("#total_count").html([[${datas.totalElements}]]);
        $("#current_page").html(Number([[${datas.number}]]) + Number(1) +"/" + [[${datas.totalPages}]]);
        $("#a_clear").click(function () {
            $('#house_number').val("");
        });
    });

    function community_change(value) {
        $.ajax({
            url: [[@{/api/house/building}]],
        type:'post',
            data:{'community': value},
        dataType: 'JSON',
            success:function(data){
            var option = "<option value=''>请选择</option>";
            $.each(data, function(id, text){
                option += "<option value='" + text + "'>" + text + "</option>";
            });
            $("#building").html(option);
        }
    });
    };
    $('#page').bootstrapPaginator({
        currentPage: [[${datas.number}]] + 1,//当前的请求页面。
        totalPages: [[${datas.totalPages}]],//一共多少页。
        size: "normal",//页眉的大小。
        bootstrapMajorVersion: 3,//bootstrap的版本要求。
        alignment: "right",
        numberOfPages: [[${datas.size}]],//一页列出多少数据。
        itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        },
        onPageClicked: function (event, originalEvent, type, page) {
            load_data(page-1);
        }
    });
    function load_data(page) {
        $.ajax({
            url: [[@{/api/house/search/}]] + page,
            type:'post',
            data: JSON.stringify({"community": $("#community").val(), "buildingNumber": $("#building").val(), "houseType": $("#type").val(), "houseNumber": $("#house_number").val(),"state": $("#state").val()}),
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            success:function(data){
                $("#total_count").html(data.totalElements);
                $("#current_page").html(Number(data.number) + Number(1) +"/" + data.totalPages);
                if(data.totalPages!=0){
                    $('#page').bootstrapPaginator({
                        currentPage: Number(data.number) + Number(1),//当前的请求页面。
                        bootstrapMajorVersion: 3,//bootstrap的版本要求。
                        totalPages: data.totalPages//一共多少页。
                    });
                }
                var tbody = "";
                $.each(data.content, function(id, house){
                    if(house.introduce == null){
                        house.introduce = "此处省略xxx字";
                    }
                    if(house.customerId == null){
                        house.customerId = "待租";
                    }
                    tbody += "<tr><td class=\"table-community\">" + house.community + "</td>" +
                        "<td class=\"table-buildingNumber\">" + house.buildingNumber + "</td>" +
                        "<td class=\"table-customerId\">" + house.customerId + "</td>" +
                        "<td class=\"table-houseType\">" + house.houseType+ "</td>" +
                        "<td class=\"table-price\">" + house.price + "</td>" +
                        "<td class=\"table-floorNumber\">" + house.floorNumber + "</td>" +
                        "<td class=\"table-houseNumber\">" + house.houseNumber + "</td>";
                    var state = house.state;
                    switch (state) {
                        case 0 : tbody += "<td class=\"table-state\" value=\"1\" >" + "待租" + "</td>"; break;
                        case 1 : tbody += "<td class=\"table-state\" value=\"2\" >" + "租用中" + "</td>"; break;
                        case 2 : tbody += "<td class=\"table-state\" value=\"3\" >" + "在建" + "</td>"; break;
                        case 3 : tbody += "<td class=\"table-state\" value=\"4\" >" + "欠费" + "</td>"; break;
                        case 4 : tbody += "<td class=\"table-state\" value=\"0\" >" + "其他" + "</td>"; break;
                    }
                    tbody += "<td class=\"table-introduce\">" + house.introduce + "</td>";
                    tbody += "<td id=\""+ house.id+"\">" +
                        "<button data-toggle=\"modal\" data-target=\"#editModal\" class=\"btn btn-primary btn-xs\" type=\"button\">" +
                        "<i class=\"fa fa-edit\"></i> 修改</button> " +
                        "<button onclick=\"delete_house(" + house.id +")\" class=\"btn btn-danger btn-xs\" type=\"button\">" +
                        "<i class=\"fa fa-trash-o fa-lg\"></i> 删除</button></td><tr>";
                });
                if(tbody.length==0){
                    tbody = "<div class=\"alert alert-danger\">暂无数据，请修改查询条件。</div>";
                }
                $("#my_tbody").html(tbody);
            }
    });
    };

    function delete_house(value){
        console.log("delete_house: " + value);
    }
    /*]]>*/
</script>

<script>
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // 触发事件的按钮
        var row = button.parent().parent();
        var modal = $(this); //模态框
        modal.find('#modal-community').val(row.find(".table-community").text());
        modal.find('#modal-houseType').val(row.find(".table-houseType").text());
        modal.find('#modal-buildingNumber').val(row.find(".table-buildingNumber").text());
        modal.find('#modal-floorNumber').val(row.find(".table-floorNumber").text());
        modal.find('#modal-houseNumber').val(row.find(".table-houseNumber").text());
        modal.find('#modal-price').val(row.find(".table-price").text());
        modal.find('#modal-customerId').val(row.find(".table-customerId").text());
        var radio = Number(row.find(".table-state").attr("value"));
        radio = (radio + 1)  % 5;
        modal.find('#modal-state').find("input[name='state']").eq(radio).attr("checked", "checked");
        modal.find('#modal-introduce').val(row.find(".table-introduce").text());
    });
</script>
</body>
</html>