<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>物业管理系统</title>

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/vendor/skycons/css/skycons.css}" rel="stylesheet" />
        <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
        <link th:href="@{/vendor/css/pace.preloader.css}" rel="stylesheet" />
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

        <link th:href="@{/css/jquery.mmenu.css}" rel="stylesheet" />

        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link th:href="@{/css/add_style.css}" rel="stylesheet" />
    </head>
    <body>

        <!-- Header-->
        <div th:replace="menu/header::header"></div>

        <!-- Start: Content -->
        <div class="container-fluid content">
            <div class="row">
                <!-- Sidebar -->
                <div th:replace="menu/sidebar::sidebar"></div>

                <!-- Main Page -->
                <div class="main ">
                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="pull-left">
                            <ol  id="headPath" class="breadcrumb visible-sm visible-md visible-lg">
                                <li><a href="index.html"><i class="icon fa fa-home"></i>主页</a></li>
                                <li class="active"><i class="fa fa-database"></i>基础数据</li>
                            </ol>
                        </div>
                        <div class="pull-right">
                            <h2 id="rightContent">基础数据</h2>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <div id="myCurrentPage">
                        <div th:replace="menu/house::house"></div>
                    </div>
                </div>
                <!-- End Main Page -->

            </div>
        </div>

        <div class="clearfix"></div>

        <!-- Vendor JS-->
        <script th:src="@{/vendor/js/jquery.min.js}"></script>
        <script th:src="@{/vendor/js/jquery-2.1.1.min.js}"></script>
        <script th:src="@{/vendor/js/jquery-migrate-1.2.1.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/vendor/skycons/js/skycons.js}"></script>

        <!-- Theme JS -->
        <script th:src="@{/js/jquery.mmenu.min.js}"></script>
        <script th:src="@{/js/core.min.js}"></script>

        <script th:src="@{/js/pages/index.js}"></script>
        <script th:src="@{/js/pages/add_index.js}"></script>
    </body>
</html>